	@font-face {
		font-family: "Proxima Nova";
		src: url("/fonts/ProximaNova-Light.woff") format("woff");
		font-style: light;
		font-weight: 300;
	}

	@font-face {
		font-family: "Proxima Nova";
		src: url("/fonts/ProximaNova-Bold.woff") format("woff");
		font-style: bold;
		font-weight: 700;
	}

	@font-face {
		font-family: "Proxima Nova";
		src: url("/fonts/ProximaNova-Regular.woff") format("woff");
		font-style: normal;
		font-weight: 400;
	}

	.wrapper {
		width: 1920px;
	}

	.shop {
		width: 1140px;
		margin: 0 auto;
		text-align: center;
	}

	.header {
		margin: 100px 0;
		color: #000000;
		font-family: "Proxima Nova";
		font-size: 36px;
		font-weight: 400;
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}